@using LiquorStoreFinalProject.Areas.Admin.ViewModels.Product;
@model UpdateProductVM
@{
    ViewData["Title"] = "Edit";
}

<style>
    .images {
        position: relative;
    }

        .images:hover button {
            opacity: 1;
        }

        .images img {
            transition: all 0.5s;
        }

        .images:hover img {
            filter: brightness(50%)
        }

        .images button {
            position: absolute;
            left: 50px;
            top: 155px;
            opacity: 0;
            transition: all 0.5s;
        }

</style>

<div class="container my-5">
    <h1>Update Product</h1>
    @*<div class="row">

            <div class="images mr-2">
                <img src="@Model.Image" class="product-image" style="width:200px; height:300px" />
            </div>
    </div>*@

    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group mt-3">
            <input value="@Model.Name" name="Name"  class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger d-block"></span>
        </div>
        <div class="form-group mt-3">
            <textarea name="Description" name="Description" class="form-control" placeholder="Description">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger d-block"></span>
        </div>
        <div class="form-group mt-3">
            <input value="@Model.Price" name="Price" type="number" step="any" class="form-control" placeholder="Price" />
            <span asp-validation-for="Price" class="text-danger d-block"></span>
        </div>
        <div class="form-group mt-3">
            <select value="@Model.CategoryId" asp-for="CategoryId" class="form-control" name="CategoryId">
                @if (ViewBag.Categories != null)
                {
                    foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group mt-3">
            <select value="@Model.DiscountId" asp-for="DiscountId" class="form-control" name="DiscountId">
                @if (ViewBag.Discounts != null)
                {
                    foreach (var discount in ViewBag.Discounts)
                    {
                        <option value="@discount.Id">@discount.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group mt-3">
            <lable>Update image</lable>
            <input name="Image" type="file" class="form-control" />
        </div>
        <button type="submit" formmethod="post" class="btn btn-success btn-rounded btn-fw mt-3">Submit</button>
        <a href="/Admin/Product/Index" class="btn btn-primary btn-rounded btn-fw mt-3">Back</a>
    </form>
</div>

@section AdminScripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/admin/js/product.js"></script>
}
